// dark colors
$dark-color1: #183440;
$dark-color2: #0b191d;
$dark-color3: #0a4253;
$dark-color4: #07303c;
$dark-color5: #242728;
$dark-color6: #0b5166;
$dark-color7: #0e1d24;

// light colors
$light-color1: #f0f7f9;
$light-color2: #9db7c4;

// opaques
$opaque-color1: #f0f7f9e6;

// utils
$error: #ef2d56;
$bg-error: #feecf0;
$warning: #ed7d3a;
$bg-warning: #fdf3ec;
$success: #97db4f;
$bg-success: #f5fcee;

// shadows
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadow2: rgba(5, 48, 62, 0.66) -3px 3px, #103c51 -5px 5px;
