@use "./palette" as *;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
}

button {
  cursor: pointer;
  border: none;
  background: $light-color1;
  color: $dark-color1;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

input,
textarea {
  border: none;
  font-size: 14px;
  padding: 3px 8px;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  background: $dark-color1;
  color: $light-color1;
  &::placeholder {
    color: $light-color1;
    opacity: 1;
  }
}

textarea {
  padding: 6px 8px;
  min-height: 100px;
}

input {
}

body {
  background: $dark-color1;
  color: $light-color1;
}

img {
  width: 100%;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem;
}

// FULL SCREEN MESSAGE //

.full-screen-message {
  height: calc(100vh - 103px);
  display: none;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-1 {
  width: 104px;
  height: 40px;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-size: 14px;
    font-weight: 300;
    margin-right: auto;
    margin-bottom: 8px;
  }
  input {
    line-height: 2rem;
  }
  button {
    margin-top: 1rem;
    width: 100%;
  }
}
